<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/login.css" />
    <title>Schedule Login</title>
  </head>
  <body>
    <div action="" id="login__form" class="login__form">
      <div class="form">
        <div class="form__box">
          <div style="display: inline-block;" class="form__left">
            <div class="form__padding">
              <img
                class="form__image"
                src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"
                alt=""
              />
            </div>
            
            <h1 style="text-align: center;">SchedUET</h1>
          </div>
          <div class="form__right">
            <div class="form_padding-right">
              <form method="POST" action="/login">
                Enter Username:<br /><input type="text" name="userID" />
                <br />Enter Password:<br /><input
                  type="password"
                  name="password"
                /> <br /><br /><input class="button__login" type="submit" value="Submit" />
              </form>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
