<%- include('../general/headerUser') %>;
    <!-- header end!! -->

    <!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->

    <!-- Registrationsection end ! -->

    <!-- Modal_edit_registration Layout End -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->
    <section class="study_material" id="study_material">
      <h1>Material God</h1>
      <div class="search_material">
        <div class="search_material-selection">
          <div class="icon_material-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput_material"
          onkeyup="myFunctionMaterial()"
          placeholder="Search material...."
        />
      </div>
      <div class="material_table_data">
        <table id="myTable_data_material">
          <thead>
            <tr class="header">
              <th>MaterialId</th>
              <th>NameMaterial</th>
              <th>Author</th>
              <th>publiser</th>
              <th>CourseTitle</th>
              <th>PushlishYear</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Co so du lieu Bt</td>
              <td>nguyen van a</td>
              <td>22</td>
              <td>CSDL</td>
              <td>2023</td>
              <td><a href="https://uet.vnu.edu.vn/en/">Link</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <!-- study_material end !-->

    <!-- footer section  start -->

    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/main.js"></script>
  </body>
</html>
