<%- include('../general/headerUser') %>;
<!-- Calendarsection start -->

    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->
    <section class="registration" id="registration">
      <div class="search_registration">
        <div class="search_registration-selection">
          <div class="icon_search-selection">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <input
          type="text"
          id="myInput"
          onkeyup="myFunction()"
          placeholder="Search course...."
        />
      </div>
      <div class="registration_table_data">
        <table id="myTable_data">
          <thead>
            <tr class="header">
              <th>CourseId</th>
              <th>Course</th>
              <th>Credit</th>
              <th>Detail</th>
              <th>Day</th>
              <th>Teacher</th>
              <th>Room</th>
              <th>Registration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Xac suat thong ke</td>
              <td>3</td>
              <td>3-4</td>
              <td>3</td>
              <td>Pham cao cuong</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kien truc may tinh</td>
              <td>4</td>
              <td>5-6</td>
              <td>4</td>
              <td>Tran trung hieu</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>lap trinh huong doi tuong</td>
              <td>3</td>
              <td>3-4</td>
              <td>5</td>

              <td>nguyen thi thanh nhan</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <input type="checkbox" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- button save -->
      <div class="container">
        <button class="button">Save</button>
        <h1>Course List Regstrated</h1>
      </div>
      <!-- button save -->

      <!-- danh sach mon da dang ki -->
      <div class="course_list_registration">
        <table id="course_list">
          <thead>
            <tr>
              <th>CourseId</th>
              <th>Course</th>
              <th>Credit</th>
              <th>Detail</th>
              <th>Day</th>
              <th>Teacher</th>
              <th>Room</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Xac suat thong ke</td>
              <td>3</td>
              <td>3-4</td>
              <td>3</td>
              <td>Pham cao cuong</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kien truc may tinh</td>
              <td>4</td>
              <td>5-6</td>
              <td>4</td>
              <td>Tran trung hieu</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>lap trinh huong doi tuong</td>
              <td>3</td>
              <td>3-4</td>
              <td>5</td>
              <td>nguyen thi thanh nhan</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>Co so du lieu</td>
              <td>3</td>
              <td>1-2</td>
              <td>2</td>
              <td>Dang hong hai</td>
              <td>GD2</td>
              <td>
                <i id="icon_delete" class="fa-solid fa-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- danh sach mon da dang ki -->
    </section>
    <!-- Registrationsection end ! -->

    <!-- Modal_edit_registration Layout End -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->

    <!-- study_material end !-->

    <!-- footer section  start -->

    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/userPages/registration.js"></script>
  </body>
</html>
