<%- include('../general/headerUser') %>;
    <!-- Calendarsection start -->
    <section class="Calendar_section" id="Calendar_section">
      <div class="home">
        <div class="wrapper">
          <div class="slide">
            <div class="content">
              <span></span>
              <i class="fa-solid fa-calendar-days"></i>
              <p class="btn">Class Calendar</p>
            </div>
          </div>
        </div>
      </div>

      <div class="main_table">
        <table>
          <tr>
            <th></th>
            <th id="monday">Monday</th>
            <th id="tuseday">Tuseday</th>
            <th id="webnesday">Webnesday</th>
            <th id="thurday">Thurday</th>
            <th id="friday">Friday</th>
            <th id="saturday">Saturday</th>
          </tr>
          <tr>
            <td>Period 1</td>
            <td
              rowspan="3"
              style="background-color: red; border-radius: 0.5rem; width: 100px"
            ></td>
          </tr>
          <tr>
            <td>Period 2</td>
          </tr>
          <tr>
            <td>Period 3</td>
          </tr>
          <tr>
            <td>Period 4</td>
            <td rowspan="2" style="background-color: aqua">hahahah</td>
          </tr>
          <tr>
            <td>Period 5</td>
          </tr>
          <tr>
            <td>Period 6</td>
          </tr>
          <tr>
            <td>Period 7</td>
          </tr>
          <tr>
            <td>Period 8</td>
          </tr>
          <tr>
            <td>Period 9</td>
          </tr>
          <tr>
            <td>Period 10</td>
          </tr>
          <tr>
            <td>Period 11</td>
          </tr>
        </table>

        <div class="main_search_and_result_table">
          <div class="main_search">
            <div class="main_search-input-wrap">
              <input
                type="text"
                class="main_search-input"
                placeholder="Find..."
              />

              <!-- Seach--history -->
              <div class="main_search-history">
                <h3 class="main_search-history-heading">Lịch sử Tìm kiếm</h3>
                <ul class="main_search-history-list">
                  <li class="main_search-history-item">
                    <a href="">Đại số tuyến tính</a>
                  </li>
                  <li class="main_search-history-item">
                    <a href="">Giải tích</a>
                  </li>
                  <li class="main_search-history-item">
                    <a href="">Toán rời rạc</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="main_search-selection"></div>
            <div class="icon_search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <h3 id="result_course_heading">Result table</h3>
          <div class="table_result_calendar">
            <table id="result_course_table">
              <thead>
                <tr>
                  <td>Course</td>
                  <td>Building</td>
                  <td>Day</td>
                  <td>Delete</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>co so du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>Co So du lieu</td>
                  <td>GD3</td>
                  <td>Monday</td>
                  <td>
                    <i
                      onclick=""
                      id="icon_delete_result"
                      class="fa-solid fa-trash"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <button class="button">Courses from regristration</button>
      </div>
    </section>
    <!-- Calendarsection end ! -->

    <!-- Registrationsection start -->

    <!-- Registrationsection end ! -->

    <!-- study_material strart-->

    <!-- study_material end !-->

    <!-- footer section  start -->

    <!-- footer section end !-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/script/userPages/schedule.js"></script>
  </body>
</html>
