

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: var(--box-shadow);
}

section {
    padding: 2rem 9%;
}



header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}

header .logo i {
    color: lightskyblue;
}

header .logo i img {
    width: 15%;
    height: 15%;
}

header .navbar {
    margin-left: -20rem;
}

header .navbar a {
    font-size: 1.7rem;
    padding: 0.5rem 2.5rem;
    color: var(--light-color);
    text-decoration: none;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: lightskyblue;
}

header .icons i {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons #menu-bars {
    display: none;
}

header .icons i:hover {
    color: #fff;
    background: lightskyblue;
    transform: rotate(360deg);
}



#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;

}

#search-form.active {
    top: 0;
}

.home .wrapper .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 10rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    margin-left: 10px;
    padding-top: 5px;
    min-height: 35px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 102;
    border-radius: 0.5px;
}

.dropdown-content a {
    color: black;
    padding-top: 2px;
    padding-left: 20px;
    padding-bottom: 2px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dbdbdb;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#log-out_icon {
    font-size: 0.9rem;
}

.home .wrapper .slide .content {
    flex: 1 1 45rem;
}

.btn {
    margin-top: 1rem;
    font-size: 1.7rem;
    color: var(--black);
    background: lightskyblue;
    cursor: pointer;
    padding: 1rem 4rem;
    font-size: 2rem;
    z-index: -1;
    position: absolute;
    border: solid 0.1rem black;

}

.home .wrapper .slide .content i {
    height: 4.5rem;
    width: 4.5rem;
    font-size: 4.5rem;
    padding-left: 2.3rem;
    padding-top: 0rem;
}

.home .wrapper .slide .content p {
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.main_table {
    display: flex;
    justify-content: center;
}

.main_table table {
    border-collapse: collapse;
    margin-top: 7.5rem;
    margin-left: 3rem;
    border: 0.1px solid black;
    width: 80%;
    z-index: -1;
}

.main_table th,
.main_table td {
    font-style: italic;
    text-align: center;
    padding: 8px;
    font-size: 1.5rem;
}

.main_table td {
    height: 50px;
    padding-top: 2rem;
}

.main_table th {
    height: 60px;
    padding-left: 2rem;
}

.main_search_and_result_table {
    width: 20%;
    height: 100%;
}

#result_course_heading {
    margin-top: 2rem;
    margin-left: 50%;
    font-size: 20px;
    color: #192a56;
}

.table_result_calendar {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    display: block;
    overflow: auto;
    width: 140%;
    height: 510px;
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 2px;
}

#result_course_table {
    border-collapse: collapse;
    border: none;
    /* Full-width */
    height: 300px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#result_course_table thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}

#result_course_table th,
#result_course_table td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 10px;
}


#monday {
    color: #192a56;
}

#tuseday {
    color: #192a56;
}

#webnesday {
    color: #192a56;
}

#friday {
    color: #192a56;
}

#thurday {
    color: #192a56;
}

.main_search {
    flex: 0.5px;
    height: 30px;
    border: 0.1rem solid black;
    margin-top: 9rem;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.main_search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.main_search-input {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 16px;
    font-style: italic;
    border-radius: 2px;
}

.icon_search {
    padding-right: 5px;
    font-size: 15px;
    color: lightskyblue;
}

.icon_search:hover {
    cursor: pointer;
    color: black;
    transform: rotate(360deg);
}

.main_search-input:focus~.main_search-history {
    display: block;
}

/* sech-history */
.main_search-history {
    z-index: 10;
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 10px);
    background-color: white;
    box-shadow: 0 0 3px #999;
    display: none;

}

.main_search-history-heading {
    padding: 6px 12px;
    font-size: 1.2rem;
    font-style: italic;
    color: #999;
}

.main_search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.main_search-history-item {
    padding-left: 0px 12px;
    height: 38px;
}

.main_search-history-item:hover {
    background-color: #fafafa;
}

.main_search-history-item a {
    text-decoration: none;
    line-height: 38px;
    padding-left: 12px;
    font-size: 1.4rem;
    color: #192a56;
}

.search {

    top: 6px;
    left: 5px;
}

.form-control {

    border: none;
    padding-left: 32px;
}

.form-control:focus {

    border: none;
    box-shadow: none;
}

.green {

    color: green;
}

.search_registration {
    flex: 0.5px;
    height: 30px;
    width: 40%;
    border: 0.1rem solid black;
    margin-top: 10rem;
    margin-bottom: 2rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

#myInput {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 20px;
    font-style: italic;
    border-radius: 2px;
}

.icon_search-selection {
    padding-left: 8px;
    font-size: 15px;
    color: black;
}

.icon_search-selection:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.registration_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
    white-space: nowrap;
    border: 1px solid black;
}

.section_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 650px;
    white-space: nowrap;
    border: 1px solid black;
}

#myTable_data {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

}

#myTable_data thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}


#myTable_data th,
#myTable_data td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 300px;
}

/* #myTable_data td {
    border: 1px solid black;
} */

#icon_add_section:hover {
    background-color: #ddd;
    cursor: pointer;
}

.icon_add_section:hover {
    background-color: #ddd;
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button:hover {
    background-color: black
}

.button:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button_add {
    margin-left: 2rem;
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button_add:hover {
    background-color: black
}

.button_add:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container,
.course_list_registration {
    text-align: center;
}

.course_list_registration {
    display: block;
    overflow: auto;
    width: 100%;
    height: 250px;
    white-space: nowrap;
    border: 1px solid black;
}

.course_list_registration #course_list {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#course_list thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}



#course_list th,
#course_list td {
    font-family: 'Roboto', sans-serif;
    padding: 15px 10px;
    text-align: center;
    width: 300px;
}

#icon_delete_section:hover {
    cursor: pointer;
}


.icon_delete_section:hover {
    background-color: #ddd;
    cursor: pointer;
}


/******************Material table ****/
.study_material {
    position: flex;
    text-align: center;
    margin-top: 5rem;
}

.study_material h1 {
    margin-top: 4rem;
}

.search_material {
    flex: 0.5px;
    height: 30px;
    width: 40%;
    border: 0.1rem solid black;
    margin-top: 5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.icon_material-selection {
    padding-left: 8px;
    font-size: 15px;
    color: black;
}

.icon_material-selection:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.material_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 600px;
    white-space: nowrap;
    border: 1px solid black;
    margin-top: 2rem;
}

#myTable_data_material {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#myTable_data_material thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}

#myTable_data_material th,
#myTable_data_material td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 300px;

}


#myInput_material {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 20px;
    font-style: italic;
    border-radius: 2px;
}

.button_add_material {
    margin-left: 2rem;
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button_add_material:hover {
    background-color: black
}

.button_add_material:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#icon_add_material:hover {
    background-color: #ddd;
    cursor: pointer;
}

#icon_delete_material:hover {
    cursor: pointer;
}

/* *****************course_ADmin ***************/

.course {
    position: flex;
    text-align: center;
    margin-top: 5rem;
}

.course h1 {
    margin-top: 4rem;
}

.search_course {
    flex: 0.5px;
    height: 30px;
    width: 40%;
    border: 0.1rem solid black;
    margin-top: 5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.icon_search_course-selection {
    padding-left: 8px;
    font-size: 15px;
    color: black;
}

.icon_search_course-selection:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.course_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 600px;
    white-space: nowrap;
    border: 1px solid black;
    margin-top: 2rem;
}

#course_table {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#course_table thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}

#course_table th,
#course_table td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 300px;

}


#myInput_course {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 20px;
    font-style: italic;
    border-radius: 2px;
}

.button_add_course_admin {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button_add_course_admin:hover {
    background-color: black
}

.button_add_course_admin:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#icon_add_course:hover {
    background-color: #ddd;
    cursor: pointer;
}

#icon_delete_course:hover {
    cursor: pointer;
}

.icon_add_course:hover {
    background-color: #ddd;
    cursor: pointer;
}

.icon_delete_course:hover {
    cursor: pointer;
}

/************teacher_ADmin*******************/

.teacher {
    position: flex;
    text-align: center;
    margin-top: 5rem;
}

.teacher h1 {
    margin-top: 4rem;
}

.search_teacher {
    flex: 0.5px;
    height: 30px;
    width: 40%;
    border: 0.1rem solid black;
    margin-top: 5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.icon_search_teacher-selection {
    padding-left: 8px;
    font-size: 15px;
    color: black;
}

.icon_search_teacher-selection:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.teacher_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 600px;
    white-space: nowrap;
    border: 1px solid black;
    margin-top: 2rem;
}

#teacher_table {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#teacher_table thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}

#teacher_table th,
#teacher_table td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 300px;

}


#myInput_teacher {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 20px;
    font-style: italic;
    border-radius: 2px;
}

.button_add_teacher_admin {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button_add_teacher_admin:hover {
    background-color: black
}

.button_add_teacher_admin:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#icon_add_teacher:hover {
    background-color: #ddd;
    cursor: pointer;
}

.icon_add_teacher:hover {
    background-color: #ddd;
    cursor: pointer;
}

#icon_delete_teacher:hover {
    cursor: pointer;
}

.icon_delete_teacher:hover {
    cursor: pointer;
}


/*****************ACCOUNT_ADMIN***************************/

.account {
    position: flex;
    text-align: center;
    margin-top: 5rem;
}

.account h1 {
    margin-top: 4rem;
}

.search_account {
    flex: 0.5px;
    height: 30px;
    width: 40%;
    border: 0.1rem solid black;
    margin-top: 5rem;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.icon_search_account-selection {
    padding-left: 8px;
    font-size: 15px;
    color: black;
}

.icon_search_account-selection:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.account_table_data {
    display: block;
    overflow: auto;
    width: 100%;
    height: 600px;
    white-space: nowrap;
    border: 1px solid black;
    margin-top: 2rem;
}

#account_table {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Full-width */
    height: 50px;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#account_table thead {
    color: #192a56;
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 1);
}

#account_table th,
#account_table td {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 300px;

}


#myInput_account {
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 20px;
    font-style: italic;
    border-radius: 2px;
}

.button_add_account_admin {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

.button_add_account_admin:hover {
    background-color: black
}

.button_add_account_admin:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.icon_add_account:hover {
    background-color: #ddd;
    cursor: pointer;
}

#icon_add_account:hover {
    background-color: #ddd;
    cursor: pointer;
}

#icon_delete_account:hover {
    cursor: pointer;
}

.icon_delete_account:hover {
    cursor: pointer;
}



/********************** Modal*/
.modal_section {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_section {
    top: 0%;
}

.form_add {
    width: 500px;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_add__container {
    padding: 2px 40px;
}

.form_add_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_add_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_add_Input:focus {
    border-color: #888;
}

.form_add_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#addbutton_regristration.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}


#modal_section.active {
    display: flex;
    top: 0;
}

#close_add_section {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
}

/* Modal1 */
.modal_1_section {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_1_section {
    top: -110%;
}

.form_add_1 {
    width: 500px;
}

.modal_1__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_1__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_add_1__container {
    padding: 2px 40px;
}

.form_add_1_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_add_1_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_add_1_Input:focus {
    border-color: #888;
}

.form_add_1_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#editbutton_regristration.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#modal_1_section.active {
    display: flex;
    z-index: 101;
    top: 0;
}

#close_edit_section {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}


/***************Modal_ACCOUNT************/
/*************************************/
.modal_account {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_account {
    top: -150%;
}

.form_account_add {
    width: 500px;
}

.modal_account__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_account__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_account_add__container {
    padding: 2px 40px;
}

.form_account_add_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_account_add_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_account_add_Input:focus {
    border-color: #888;
}

.form_account_add_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_account.active {
    display: flex;
    top: 0;
}

#addbutton_account.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_add_account {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}


/***************/

.modal_1_account {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
   
}

#modal_1_account {
    top: -150%;
}

.form_account_edit {
    width: 500px;
}

.modal_1_account__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_1_account__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_account_edit__container {
    padding: 2px 40px;
}

.form_account_edit_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_account_edit_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_account_edit_Input:focus {
    border-color: #888;
}

.form_account_edit_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_1_account.active {
    display: flex;
    top: 0;
}

#updatebutton_account.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_edit_account {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}

/*********************MODAL ACCOUNT END***********/
/********************************************************/


/*********************MODAL COURSE START ************/
/****************************************************/
.modal_course {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_course {
    top: -150%;
}

.form_course_add {
    width: 500px;
}

.modal_course__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_course__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_course_add__container {
    padding: 2px 40px;
}

.form_course_add_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_course_add_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_course_add_Input:focus {
    border-color: #888;
}

.form_course_add_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_course.active {
    display: flex;
    top: 0;
}

#addbutton_course.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_add_course {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}


/***************/

.modal_1_course {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
   
}

#modal_1_course {
    top: -150%;
}

.form_course_edit {
    width: 500px;
}

.modal_1_course__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_1_course__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_course_edit__container {
    padding: 2px 40px;
}

.form_course_edit_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_course_edit_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_course_edit_Input:focus {
    border-color: #888;
}

.form_course_edit_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_1_course.active {
    display: flex;
    top: 0;
}

#updatebutton_course.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_edit_course {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}
/*********************MODAL COURSE END ***********/
/************************************************/


/*********************MODAL MATERIAL START*******/
/*************************************************/

.modal_material {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_material {
    top: -110%;
}

.form_material_add {
    width: 500px;
}

.modal_material__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_material__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_material_add__container {
    padding: 2px 40px;
}

.form_material_add_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_material_add_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_material_add_Input:focus {
    border-color: #888;
}

.form_material_add_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_material.active {    
    display: flex;
    top: 0;
}

#addbutton_material.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_add_material {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}


/***************/

.modal_1_material {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
   
}

#modal_1_material {
    top: -150%;
}

.form_material_edit {
    width: 500px;
}

.modal_1_material__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_1_material__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_material_edit__container {
    padding: 2px 40px;
}

.form_material_edit_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_material_edit_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_material_edit_Input:focus {
    border-color: #888;
}

.form_material_edit_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_1_material.active {
    display: flex;
    top: 0;
}

#updatebutton_material.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_edit_material {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}

/*********************MODAL MATERIAL END******/
/*********************************************/

/********************MODAL Teacher Start ******/
/*********************************************/
.modal_teacher {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
}

#modal_teacher {
    top: -110%;
}

.form_teacher_add {
    width: 500px;
}

.modal_teacher__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_teacher__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_teacher_add__container {
    padding: 2px 40px;
}

.form_teacher_add_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_teacher_add_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_teacher_add_Input:focus {
    border-color: #888;
}

.form_teacher_add_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_teacher.active {    
    display: flex;
    top: 0;
}

#addbutton_teacher.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_add_teacher {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}


/***************/

.modal_1_teacher {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;    
    top:0;
    display: none;
    z-index: 101;
   
}

#modal_1_teacher {
    top: -150%;
}

.form_teacher_edit {
    width: 500px;
}

.modal_1_teacher__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.modal_1_teacher__body {
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.form_teacher_edit__container {
    padding: 2px 40px;
}

.form_teacher_edit_header h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #192a56;
    margin-bottom: 1.5rem;
}

.form_teacher_edit_Input {
    width: 100%;
    height: 40px;
    border: 2px solid #dbdbdb;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
    font-style: italic;
}

.form_teacher_edit_Input:focus {
    border-color: #888;
}

.form_teacher_edit_btn {
    text-align: center;
}

/* #addbutton_regristration {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
} */

#modal_1_teacher.active {
    display: flex;
    top: 0;
}

#updatebutton_teacher.active {
    display: inline-block;
    padding: 7px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    margin-bottom: 3rem;
    margin-top: 1rem
}

#close_edit_teacher {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 3rem;
    right: 3rem;
    font-size: 3rem;
}
/*******************MODAL teacher End********/
/********************************************/























@media (max-width: 1000px) {


    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

}


