<link rel="stylesheet" href="/style.css" />

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href=""><img src="../../assets/imgs/logo2.png" alt="" class="img-fluid logo-footer"></a>
              <div class="footer-about">
                  <p>What is the highlight of your day.Making feeling is better yesterday</p>
              </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a href="/user/schedules"><i class="fa-solid fa-angles-right"></i> Calendar</a></li>
                        <li><a href="/user/registrations"><i class="fa-solid fa-angles-right"></i> Registration</a></li>
                        <li><a href="/user/materials"><i class="fa-solid fa-angles-right"></i> Study material</a></li>
                        <li><a href="/user/teachers"><i class="fa-solid fa-angles-right"></i> Teacher</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="./assets/images/about/home_line.png" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>
            

            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> UET-VNU,Xuân Thủy,Dịch Vọng Hậu
                            Cầu Giấy, Hà Nội</li>
                           <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                           <li><a href=""><i class="fa-solid fa-envelope"></i> 22028182@vnu.edu.vn, 22028185@vnu.edu.vn</a></li>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

</footer>
<!-- footer section end -->
<!-- footer copy right section start -->
<section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
        Make life Make play<a href="#"></a> 
    </div>

</section>