<%- include('head') %>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <!-- header strart -->
    <header>
      <a href="#" class="logo"
        ><i class="fas-fa-untensils"
          ><img src="../../assets/imgs/logo.png" alt="" />SchedUET</i
        ></a
      >
      <nav class="navbar">
        <a href="/admin/courses">Course</a>
        <a href="/admin/sections">Section</a>
        <a href="/admin/teachers">Teacher</a>
        <a href="/admin/materials">Study material</a>
        <a href="/admin/accounts">Account</a>
      </nav>

      <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <div class="dropdown">
          <i class="fa-regular fa-user" id="user-icon"></i>
          <div class="dropdown-content">
            <a href="/logout"
              >Logout
              <i
                id="log-out_icon"
                class="fa-solid fa-arrow-right-from-bracket"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </header>

    
    
   
    <!-- header end!! -->